import os
import random

from buildbot.buildslave            import BuildSlave
from buildbot.changes.filter        import ChangeFilter
from buildbot.changes.gitpoller     import GitPoller
from buildbot.config                import BuilderConfig
from buildbot.process.buildstep     import BuildStep
from buildbot.process.factory       import BuildFactory
from buildbot.scheduler             import Try_Userpass
from buildbot.schedulers.basic      import AnyBranchScheduler
from buildbot.schedulers.forcesched import ForceScheduler
from buildbot.status                import html
from buildbot.status                import words
from buildbot.status.mail           import MailNotifier
from buildbot.status.web            import authz, auth
from buildbot.steps.shell           import ShellCommand
from buildbot.steps.source.git      import Git
from buildbot.steps.transfer        import FileUpload

import config
reload(config)

###
# TODO
#
# * Test docs repo
# * Test www repo
# * Emails on test and build failures
# * Thorough tests on next and PR branch
# * merge builds on the same branch
# * Emails when test slave goes down
# * Kill stuck builds
# * auto-scroll in log page
# * show branch name in waterfall instead of committer name

rethinkdb_git = 'git://github.com/rethinkdb/rethinkdb'
docs_git = 'git://github.com/rethinkdb/docs'

slaves = [
    BuildSlave("dr-doom",    "lorem"),
    BuildSlave("newton",     "ipsum"),
    BuildSlave("chaotica",   "dolor"),
    BuildSlave("lavos",      "sit"),
    BuildSlave("ganondorf",  "amet"),
    BuildSlave("magneto",    "consectetur"),
    BuildSlave("puzzler",    "adipisicing"),
    BuildSlave("electro",    "elit"),
    BuildSlave("riddler",    "sed"),
    BuildSlave("sinister",   "do"),
    BuildSlave("arclight",   "eiusmod"),
    BuildSlave("lex-luthor", "tempor"),
    BuildSlave("the-shadow", "incididunt"),
    BuildSlave("gantz",      "ut"),
    BuildSlave("deadshot",   "labore"),
    BuildSlave("disabled", str(random.random()))
]

protocols = {'pb': {'port': 9989}}

kb = 1024
mb = 1024 * kb

change_source = [
    GitPoller(
        rethinkdb_git,
        workdir='gitpoller-rethinkdb',
        branches=True,
        project='rethinkdb',
        pollinterval=30 # seconds
    ),
    GitPoller(
        docs_git,
        workdir='gitpoller-docs',
        branches=True,
        project='docs',
        pollinterval=30 # seconds
    )
]

class ShellCommandHTMLReport(ShellCommand):
    def __init__(self, htmlReports={}, **kwargs):
        self.htmlReports = htmlReports
        ShellCommand.__init__(self,
                              logfiles={ 'raw ' + name: path for name, path in htmlReports.items()},
                              **kwargs)

    def createSummary(self, log):
        for name in self.htmlReports:
            self.addHTMLLog('html ' + name, self.getLog('raw ' + name).getText())

def next_or_pr(branch):
    if branch == 'next':
        return True
    try:
        if branch[0] == 'v' and branch[1] in "0123456789":
            return True
    except Exception:
        pass
    return False

schedulers = [
    AnyBranchScheduler(
        name='next-and-pr',
        treeStableTimer=None,
        change_filter=ChangeFilter(branch=next_or_pr, project='rethinkdb'),
        builderNames=["test-default"]
    ),
    ForceScheduler(
        name="force-test-default",
        builderNames=["test-default"]
    ),
    Try_Userpass(
        name='test-default',
        builderNames=['test-default'],
        port=5555,
        userpass=[(config.auth_user, config.auth_password)]
    )
]

test_default_steps = [
    Git(repourl=rethinkdb_git, mode='incremental', name='checkout'),
    ShellCommand(command=["rm", "-rf", "test_results"], haltOnFailure=True, name='clean'),
    ShellCommand(command=["./configure", "--allow-fetch"], haltOnFailure=True, name='configure'),
    ShellCommand(command=["make", "-j20", "DEBUG=1"], haltOnFailure=True, name='build'),
    ShellCommandHTMLReport(htmlReports={'report': 'test_results/test_results.html'},
                           command=["test/run", "default", "-j8", "-otest_results", "-H"],
                           name='test')
]

builders = [
    BuilderConfig(
        name="test-default",
        slavenames=["chaotica", "lavos", "ganondorf"],
        factory=BuildFactory(test_default_steps)
    )
]

authz_cfg = authz.Authz(
    auth=auth.BasicAuth([(config.auth_user, config.auth_password)]),
    gracefulShutdown = 'auth',
    forceBuild = 'auth',
    forceAllBuilds = False,
    pingBuilder = False,
    stopBuild = 'auth',
    stopAllBuilds = 'auth',
    cancelPendingBuild = 'auth'
)

status = [
    html.WebStatus(http_port=8010, authz=authz_cfg),
    words.IRC(
        host=config.irc_server,
        nick=config.irc_nickname,
        channels=[config.irc_channel],
        password=config.irc_password,
        allowForce=True,
        notify_events = {
            'exception': 1,
            'successToFailure': 0,
            'failureToSuccess': 0,
            'started': 1,
            'finished': 1,
            'success': 1,
            'failed': 1
        }
    ),
    MailNotifier(
        fromaddr = "devops@rethinkdb.com",
        sendToInterestedUsers = False,
        mode = 'all',
        extraRecipients = ["atnnn@rethinkdb.com"]
    )
]

BuildmasterConfig = {
    'slaves': slaves,
    'protocols': protocols,
    'change_source': change_source,
    'schedulers': schedulers,
    'builders': builders,
    'status': status,

    'title': "RethinkDB",
    'titleURL': "http://rethinkdb.com/",
    'buildbotURL': "http://dr-doom:8010/",
    'db': { 'db_url' : "sqlite:///state.sqlite" }
}
